<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cloudflare - Request API</title>
    <%- include ('include/d_header') %>

</head>

<body class="sb-nav-fixed">
    <%- include ('include/d_hnav') %>
        <div id="layoutSidenav">
            <%- include ('include/d_leftnav') %>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">DNS Cloudflare</h1>
                            <%- include ('implement/messages') %>
                            
                            <%- include ('implement/addmember') %>

                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <div class="row ">
                                                <div class="col-md-4">
                                                    <div class="form-group  ">
                                                        <label for="name" class="">Name</label>
                                                        <input type="res_id" class="form-control" name="res_id" id="res_id" value="<%= typeof res_id != 'undefined' ? res_id : '' %>">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div class="form-group ">
                                                        <label for="name" class="">ZoneID</label>
                                                        <input type="res_id" class="form-control" name="res_id" id="res_id" value="<%= typeof res_id != 'undefined' ? res_id : '' %>">
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-4">
                                                    <div class="form-group  ">
                                                        <label for="name" class="">Secret Key</label>
                                                        <input type="res_id" class="form-control" name="res_id" id="res_id" value="<%= typeof res_id != 'undefined' ? res_id : '' %>">
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <a href="#" title="Add record" class="text-blue px-sm-1"><i
                                                    class="fas fa-plus"></i></a>

                                            <a href="#" title="Remove this" class="text-danger px-sm-1"><i
                                                    class="fas fa-times"></i></a>

                                        </div>
                                        <div class="card-body">
                                            <table id="datatablesSimple">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Type</th>
                                                        <th>Name</th>
                                                        <th>Content</th>
                                                        <th>Proxy</th>
                                                        <th>TTL</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Type</th>
                                                        <th>Name</th>
                                                        <th>Content</th>
                                                        <th>Proxy</th>
                                                        <th>TTL</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    <% if(typeof users !='undefined' ){ %>
                                                        <% users.forEach(function(user) { %>
                                                            <tr>
                                                                <td>
                                                                    <%= user.name %>
                                                                </td>
                                                                <td>
                                                                    <%= user.createdAt.toLocaleString() %>
                                                                </td>
                                                                <td>
                                                                    <%= user.permission %>
                                                                </td>
                                                                <td>
                                                                    <%= user.phone %>
                                                                </td>
                                                                <td>
                                                                    <%= user.email %>
                                                                </td>
                                                                <td
                                                                    class="<%= typeof user.active != 'undefined' && user.active=='Disable' ? 'text-danger' : 'text-info' %>">
                                                                    <%= user.active %>
                                                                </td>
                                                                <td>
                                                                    <a href="/home/edit-user/<%= user._id %>"
                                                                        title="Edit user" class="text-blue px-sm-1"><i
                                                                            class="fas fa-edit"></i></a>
                                                                </td>
                                                            </tr>

                                                            <% }) %>
                                                                <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                        </div>
                    </main>
                    <%- include ('include/footer') %>
                </div>
        </div>
        <%- include ('include/d_footer') %>
</body>

</html>