<!DOCTYPE html>
<html lang="en">

<head>
    <title>Documents - kaydadocument</title>
    <%- include ('include/d_header') %>

</head>

<body class="sb-nav-fixed">
    <%- include ('include/d_hnav') %>
        <div id="layoutSidenav">
            <%- include ('include/d_leftnav') %>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Document</h1>
                            <%- include ('implement/messages') %>
                            <div class="row">
                                <h4>Static link</h4>
                                <span> <a class="text-dark" href="./addlink"><i class="fas fa-plus-circle"></i> Add</a></span>
                                <div class="row pt-2">
                                    <table id="datatablesSimple">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Link</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody><% if(typeof links != 'undefined'){ %> 
                                            <% links.forEach(function(link) { 
                                                
                                                %> 
                                            <tr> 
                                                    <td><%= link.linkname %></td>
                                                    <td> <a href="<%= links.host+ link.linkstatic%>"><%=link.linkstatic%></a> </td>
                                                    <td>
                                                        <a href="<%= links.host+ link.linkstatic%>" target="_blank" class="text-success px-sm-1"><i class="fas fa-eye"></i></a>
                                                        <a href="./editlink/<%= link._id%>" class="text-blue px-sm-1"><i class="fas fa-edit"></i></a>
                                                    </td>
                                            </tr>

                                            <% }) %> 
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                                <hr />
                                <h4>Specs guide</h4>
                                <a class="text-dark" href="#"><i class="fas fa-plus-circle"></i> Add</a>

                                <div class="row pt-2">
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card bg-primary text-white mb-4">
                                            <div class="card-body">Primary Card</div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white " href="#">View Details</a>
                                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card bg-warning text-white mb-4">
                                            <div class="card-body">Warning Card</div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white " href="#">View Details</a>
                                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card bg-success text-white mb-4">
                                            <div class="card-body">Success Card</div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white " href="#">View Details</a>
                                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card bg-danger text-white mb-4">
                                            <div class="card-body">Danger Card</div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white " href="#">View Details</a>
                                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card bg-dark text-white mb-4">
                                            <div class="card-body">Close Project</div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white " href="#">View Details</a>
                                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card bg-dark text-white mb-4">
                                            <div class="card-body">Disable Project</div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white " href="#">View Details</a>
                                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card bg-light text-dark mb-4">
                                            <div class="card-body">Add new project</div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-dark " href="#"><i
                                                        class="fas fa-plus-circle"></i> Add</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                    <%- include ('include/footer') %>
                </div>
        </div>
        <%- include ('include/d_footer') %>
</body>

</html>