<!DOCTYPE html>
<html lang="en">

<head>
    <title>Documents - kaydadocument</title>
    <%- include ('include/d_header') %>

</head>

<body class="sb-nav-fixed">
    <%- include ('include/d_hnav') %>
        <div id="layoutSidenav">
            <%- include ('include/d_leftnav') %>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Document</h1>
                            <div class="row">
                                <h4>Static link</h4>
                                <a class="text-dark" href="#"><i class="fas fa-plus-circle"></i> Add</a>
                                <div class="row pt-2">
                                    <table id="datatablesSimple">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Link</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1111</td>
                                                <td><a href="http://localhost:3000/home/file/id">http://localhost:3000/home/file/id</a></td>
                                                <td>
                                                    <a href="#" class="text-gray px-sm-3" title="copy"><i
                                                            class="fas fa-copy"></i></a>
                                                    <a href="#" class="text-blue px-sm-2"><i
                                                            class="fas fa-edit"></i></a>
                                                    <a href="#" class="text-danger px-sm-2"><i
                                                            class="fas fa-times"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2222</td>
                                                <td><a href="http://localhost:3000/home/file/id">http://localhost:3000/home/file/id</a></td>
                                                <td>
                                                    <a href="#" class="text-gray px-sm-3" title="copy"><i
                                                            class="fas fa-copy"></i></a>
                                                    <a href="#" class="text-blue px-sm-2"><i
                                                            class="fas fa-edit"></i></a>
                                                    <a href="#" class="text-danger px-sm-2"><i
                                                            class="fas fa-times"></i></a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </main>
                    <%- include ('include/footer') %>
                </div>
        </div>
        <%- include ('include/d_footer') %>
</body>

</html>