<!DOCTYPE html>
<html lang="en">

<head>
    <title>Member - kaydadocument</title>
    <%- include ('include/d_header') %>

</head>

<body class="sb-nav-fixed">
    <%- include ('include/d_hnav') %>
    <div id="layoutSidenav">
        <%- include ('include/d_leftnav') %>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Member</h1>

                    <a class="text-dark "
                     data-toggle="modal"
                    data-target="#addmemberModal" 
                    href="#"><i class="fas fa-plus-circle"></i> Add</a>
                    <%- include ('implement/addmember') %>
                    <div class="row pt-2">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Name</th>                                    
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Verified</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Verified</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <% members.forEach( member => { %>
                                    <tr>
                                        <td><%= member.name %></td>
                                        <td><%= member.phone %></td>
                                        <td><%= member.email %></td>
                                        <td><%= member.verified %></td>
                                        <td>
                                            <a href="#" class="text-warning px-sm-1"><i class="fas fa-minus-circle"></i></a>
                                            <a href="#" class="text-blue px-sm-1"><i class="fas fa-edit"></i></a>
                                            <a href="#" class="text-danger px-sm-1"><i class="fas fa-times"></i></a>
                                        </td>
                                    </tr>
                                  <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
            <%- include ('include/footer') %>
        </div>
    </div>
    <%- include ('include/d_footer') %>
</body>

</html>