<!DOCTYPE html>
<html lang="en">

<head>
    <title>Member - kaydadocument</title>
    <%- include ('include/d_header') %>

</head>

<body class="sb-nav-fixed">
    <%- include ('include/d_hnav') %>
    <div id="layoutSidenav">
        <%- include ('include/d_leftnav') %>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Member</h1>
                    <%- include ('implement/messages') %>
                    <a class="text-dark " data-toggle="modal" data-target="#addmemberModal" href="#!"><i class="fas fa-plus-circle"></i> Add</a>
                    <%- include ('implement/addmember') %>
                    <div class="row pt-2">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Overviews</th>
                                    <th>Permission</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>overviews</th>
                                    <th>Permission</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <% if(typeof users != 'undefined'){ %> 
                                <% users.forEach(function(user) { 
                                    %> 
                                <tr> 
                                    <td><%= user.name %></td>
                                    <td><%= user.createdAt.toLocaleString() %></td>
                                    <td><%= user.permission %></td>
                                    <td><%= user.phone %></td>
                                    <td><%= user.email %></td>
                                    <td class="<%= typeof user.active != 'undefined' && user.active=='Disable' ? 'text-danger' : 'text-info' %>"><%= user.active %></td>
                                    <td>
                                        <a href="/home/edit-user/<%= user._id %>" title="Edit user" class="text-blue px-sm-1"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                
                                <% }) %> 
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
            <%- include ('include/footer') %>
        </div>
    </div>
    <%- include ('include/d_footer') %>
</body>

</html>