<!DOCTYPE html>
<html lang="en">

<head>
    <title>Nginx</title>
    <%- include ('include/d_header') %>

</head>

<body class="sb-nav-fixed">
    <%- include ('include/d_hnav') %>
        <div id="layoutSidenav">
            <%- include ('include/d_leftnav') %>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Nginx</h1>
                            <%- include ('implement/messages') %>
                            <%- include ('implement/deployConfigNginx') %>
                            <form action="/home/nginx_save" method="post">
                                <div class="bd-example">
                                    <a  class="btn btn-secondary" href="/home/nginx">Reload</a>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <a  class="btn btn-success" href="/home/nginx_reload"><i class="fas fa-sync-alt"></i>Reload</a>
                                    <button type="button" class="btn btn-danger ml-1" disabled><i class="fas fa-stop-circle"></i> Stop</button>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-description" class="col-form-label">Context:</label>
                                    <textarea id="contentnginx" name="contentnginx" class="form-control" rows="10" > <%= nginx_data %> </textarea>
                                </div>
                            </form>
                            <label for="recipient-description" class="col-form-label">Config:</label>
                            <a class="text-dark " data-toggle="modal" data-target="#addRsModal" href="#!"><i class="fas fa-plus-circle"></i> Add</a>
                            <table id="datatablesSimple" class="" >
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                            
                                    <% if(typeof nginx_config != 'undefined'){ %> 
                                        <% nginx_config.forEach(function(file) { 
                                            %> 
                                    <tr>
                                        <td><%= file %></td>
                                        <td>-</td>
                                        <td>
                                            <a href="#" class="text-info px-sm-1 viewbutton" data-name="<%= file %>" data-toggle="modal" data-target="#deployConfigNginx"><i class="fas fa-paper-plane" ></i></a>
                                            <a href="#" class="text-info px-sm-1 deletebutton" data-name="<%= file %>" ><i class="fas fa-times" ></i></a>
                                           
                                        </td>
                                    </tr>
                                    <% }) %> 
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </main>
                    <%- include ('include/footer') %>
                </div>
        </div>
        <%- include ('include/d_footer') %>
        <script>
            $(document).ready(function () { 
                //inforproject
                $("#datatablesSimple").on('click', '.viewbutton', function () {
                    var name = $(this).data('name');
                   console.log('---viewbutton',name);

                    $.ajax({
                        url: "/home/nginx_getconfig",
                        type: "POST",
                        data: JSON.stringify({'name':name}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function(data, textStatus, jqXHR) {
                            console.log('---deploybutton success');
                            $("#contentnginx").text(data.data);
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log('---failed');
                            $("#contentnginx").text(data.data);
                        } 
                    });
                   
                });

                
            })
        </script>
</body>

</html>