<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="<%= link.header %>" />
    <title><%= link.header %></title>
    <%- include ('../include/header') %>
    <script src="https://code.jquery.com/jquery-2.2.2.js" integrity="sha256-4/zUCqiq0kqxhZIyp4G0Gk+AOtCJsY1TA00k5ClsZYE=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body class="masthead">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <%- include ('../include/nav') %>
                    
                    <div class="container p-3">
                        <div class="row  p-5">
                            <%- include ('../implement/messages') %>
                            <div class="col-12 p-2">
                                <h2 class="col-12 text-white"><%- link.header %></h2>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -30px;">
                            <div class="col-12 ">
                                <div class="card">
                                    <div class="card-body text-white">
                                        <%- link.area %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% if(typeof link.footer != 'undefined'){ %> 
                        <div class="row">
                            <div class="col-12">
                                <div class="card-body text-white"><%- link.footer %></div>
                            </div>
                        </div>
                        <% } %>
                    </div>
            </main>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script>
        $(document).ready(function () {
        
            var $getcode = $("#getcodePanel");
            var $confirm = $("#confirmPanel").hide();
            var email ='';
            var code = '';
        
            function submitEmail(emaildata) {
                $.ajax({
                    url: "https://chat.blwsmartware.net/api/user/getcode",
                    type: "POST",
                    data: JSON.stringify(emaildata),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data, textStatus, jqXHR) {
                        $getcode.hide();
                        $confirm.show();
                        email = emaildata.email;
                        console.log('-----------success email :',email);
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log('-----------fail----------------');
                    }
                });
            }
            function submitCode(codedata) {
                $.ajax({
                    url: "https://chat.blwsmartware.net/api/user/remove",
                    type: "POST",
                    data: JSON.stringify(codedata),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data, textStatus, jqXHR) {
                        console.log('-----------success----------------');
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log('-----------fail----------------');
                    }
                });
            }
        
            $("#getcodePanel").submit(function(event) {
                event.preventDefault();
        
                var $form = $(this);
                var formData = {
                    username: $form.find('input[name="email"]').val()
                };
        
                submitEmail(formData);
            });
            $("#confirmPanel").submit(function(event) {
                event.preventDefault();
        
                var $form = $(this);
                var formData = {
                    code: $form.find('input[name="code"]').val()
                };
        
                submitCode(formData);
            });
        })
        </script>
</body>

</html>